NetSpider/Vcredit.WeiXin.RestService/Web References/CheckCardService/CheckCardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckBankCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardInfo" type="tns:CheckCardInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CheckCardInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CheckCardID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckCardCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Provice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankBranch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountBank" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentityCard" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FinishTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckCardRecords" type="tns:ArrayOfDeductRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDeductRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeductRecord" nillable="true" type="tns:DeductRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeductRecord">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DeductRecordID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="DeductInstructionID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="DeductBatchID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductPlatform" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InterfaceKind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MerchantNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductInstruction" type="tns:DeductInstruction" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductBatch" type="tns:DeductBatch" />
          <s:element minOccurs="1" maxOccurs="1" name="IsResponse" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeductInstruction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DeductInstructionID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductInstructionCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeductTaskID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeductBatchID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductPlatform" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountBank" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ToAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentityCard" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LendingSideKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductBatch" type="tns:DeductBatch" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductTask" type="tns:DeductTask" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductRecords" type="tns:ArrayOfDeductRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeductBatch">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DeductBatchID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductBatchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductPlatform" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InterfaceKind" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cnt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BackCnt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedAmt" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceivedAmt" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductContent" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeductTaskID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ToAccount" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FinishTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductInstructions" type="tns:ArrayOfDeductInstruction" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductRecords" type="tns:ArrayOfDeductRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDeductInstruction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeductInstruction" nillable="true" type="tns:DeductInstruction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeductTask">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DeductTaskID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cnt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedAmt" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceivedAmt" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="OperatorID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductInstructions" type="tns:ArrayOfDeductInstruction" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckBankCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckBankCardResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultDesc" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CheckBankCardSoapIn">
    <wsdl:part name="parameters" element="tns:CheckBankCard" />
  </wsdl:message>
  <wsdl:message name="CheckBankCardSoapOut">
    <wsdl:part name="parameters" element="tns:CheckBankCardResponse" />
  </wsdl:message>
  <wsdl:portType name="CheckCardServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckBankCard">
      <wsdl:input message="tns:CheckBankCardSoapIn" />
      <wsdl:output message="tns:CheckBankCardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckCardServiceSoap" type="tns:CheckCardServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckBankCard">
      <soap:operation soapAction="http://tempuri.org/CheckBankCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckCardServiceSoap12" type="tns:CheckCardServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckBankCard">
      <soap12:operation soapAction="http://tempuri.org/CheckBankCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckCardService">
    <wsdl:port name="CheckCardServiceSoap" binding="tns:CheckCardServiceSoap">
      <soap:address location="http://10.138.60.18:5555/CheckCardService.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckCardServiceSoap12" binding="tns:CheckCardServiceSoap12">
      <soap12:address location="http://10.138.60.18:5555/CheckCardService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>