NetSpider/Vcredit.NetSpider.RestService/Service References/VBSSpiderServiceCallback/SpiderServiceCallback.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExecutorSpiderTaobaoSellerCallback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Bid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ECommerceInfoJson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecutorSpiderTaobaoSellerCallbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecutorSpiderTaobaoSellerCallbackResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecutorSpiderTaobaoSellerCallbackSoapIn">
    <wsdl:part name="parameters" element="tns:ExecutorSpiderTaobaoSellerCallback" />
  </wsdl:message>
  <wsdl:message name="ExecutorSpiderTaobaoSellerCallbackSoapOut">
    <wsdl:part name="parameters" element="tns:ExecutorSpiderTaobaoSellerCallbackResponse" />
  </wsdl:message>
  <wsdl:portType name="SpiderServiceCallbackSoap">
    <wsdl:operation name="ExecutorSpiderTaobaoSellerCallback">
      <wsdl:input message="tns:ExecutorSpiderTaobaoSellerCallbackSoapIn" />
      <wsdl:output message="tns:ExecutorSpiderTaobaoSellerCallbackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SpiderServiceCallbackSoap" type="tns:SpiderServiceCallbackSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecutorSpiderTaobaoSellerCallback">
      <soap:operation soapAction="http://tempuri.org/ExecutorSpiderTaobaoSellerCallback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SpiderServiceCallbackSoap12" type="tns:SpiderServiceCallbackSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecutorSpiderTaobaoSellerCallback">
      <soap12:operation soapAction="http://tempuri.org/ExecutorSpiderTaobaoSellerCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpiderServiceCallback">
    <wsdl:port name="SpiderServiceCallbackSoap" binding="tns:SpiderServiceCallbackSoap">
      <soap:address location="http://localhost:9303/services/SpiderServiceCallback.asmx" />
    </wsdl:port>
    <wsdl:port name="SpiderServiceCallbackSoap12" binding="tns:SpiderServiceCallbackSoap12">
      <soap12:address location="http://localhost:9303/services/SpiderServiceCallback.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>