NetSpider/Vcredit.NetSpider.PluginManager/Web References/VercodeWebService/vercodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecognizeCodeByBytes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="picContent" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="serviceCompany" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codeType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecognizeCodeByBytesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecognizeCodeByBytesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecognizeCodeByByUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imageUrl" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="serviceCompany" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codeType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecognizeCodeByByUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecognizeCodeByByUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecognizeCodeByBytesSoapIn">
    <wsdl:part name="parameters" element="tns:RecognizeCodeByBytes" />
  </wsdl:message>
  <wsdl:message name="RecognizeCodeByBytesSoapOut">
    <wsdl:part name="parameters" element="tns:RecognizeCodeByBytesResponse" />
  </wsdl:message>
  <wsdl:message name="RecognizeCodeByByUrlSoapIn">
    <wsdl:part name="parameters" element="tns:RecognizeCodeByByUrl" />
  </wsdl:message>
  <wsdl:message name="RecognizeCodeByByUrlSoapOut">
    <wsdl:part name="parameters" element="tns:RecognizeCodeByByUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="VercodeServiceSoap">
    <wsdl:operation name="RecognizeCodeByBytes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据身份证图片二级制，获取身份证OCR解析数据</wsdl:documentation>
      <wsdl:input message="tns:RecognizeCodeByBytesSoapIn" />
      <wsdl:output message="tns:RecognizeCodeByBytesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecognizeCodeByByUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据身份证图片链接，获取身份证OCR解析数据</wsdl:documentation>
      <wsdl:input message="tns:RecognizeCodeByByUrlSoapIn" />
      <wsdl:output message="tns:RecognizeCodeByByUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VercodeServiceSoap" type="tns:VercodeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecognizeCodeByBytes">
      <soap:operation soapAction="http://tempuri.org/RecognizeCodeByBytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecognizeCodeByByUrl">
      <soap:operation soapAction="http://tempuri.org/RecognizeCodeByByUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VercodeServiceSoap12" type="tns:VercodeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecognizeCodeByBytes">
      <soap12:operation soapAction="http://tempuri.org/RecognizeCodeByBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecognizeCodeByByUrl">
      <soap12:operation soapAction="http://tempuri.org/RecognizeCodeByByUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VercodeService">
    <wsdl:port name="VercodeServiceSoap" binding="tns:VercodeServiceSoap">
      <soap:address location="http://10.138.60.43:7007/vercodeService.asmx" />
    </wsdl:port>
    <wsdl:port name="VercodeServiceSoap12" binding="tns:VercodeServiceSoap12">
      <soap12:address location="http://10.138.60.43:7007/vercodeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>